
    .header-button {
        -fx-background-color: transparent;
        -fx-font-size: 18.0px;
        -fx-text-fill: white;
        -fx-cursor: hand;
        -fx-effect: dropshadow(three-pass-box, rgba(0.0,0.0,0.0,0.2), 5.0, 0.0, 0.0, 2.0);
    }
    .header-button:hover {
        -fx-background-color: rgba(255.0, 255.0, 255.0, 0.2);
    }
    .nav-button {
        -fx-background-color: linear-gradient(to right, #5A9BD3, #2B6CA3);
        -fx-text-fill: white;
        -fx-font-size: 15.0px;
        -fx-pref-width: 180.0px;
        -fx-padding: 12.0px;
        -fx-border-radius: 10.0px;
        -fx-cursor: hand;
        -fx-effect: dropshadow(three-pass-box, rgba(0.0,0.0,0.0,0.2), 5.0, 0.0, 0.0, 2.0);
    }
    .nav-button:hover {
        -fx-background-color: linear-gradient(to right, #4A8BC1, #24649D);
    }

